* {
	background-color: teal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merienda', 'Brush Script MT', cursive;
	text-align: center;
}

h1 {
	background-color: darkorange;
	color: floralwhite;
	font-size: 38px;
}

h2 {
	background-color: coral;
	color: floralwhite;
	font-size: 32px;
}

h2.description {
	background-color: orange;
}

p, a, ul, ol {
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	color: beige;
}

.description-body {
	text-align: center;
}

.steps {
	font-size: 22px;
}

a {
	color: aquamarine;
}
