html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*{
	color: lightgray;
	background-color: black;
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif;
}

h1,
h2 {
	font-family: Georgia, 'Times New Roman', serif;
}

h1{
	text-align: center;
	font-size: 40px;
}

h2{
	color: white;
	font-size: 30px;
}

li {
	font-size: 26px;
}

.img-recipe {
	width: 500px;
	height: auto;
}

.description-box p,
.description-box a {
	background-color: darkslateblue;
}

.description-box p {
	color: lightblue;
}

.ingredients-box ul,
.ingredients-box li {
	background-color: darkgreen;
	color: lightcyan;
}

.steps-box ol,
.steps-box li {
	background-color: darkolivegreen;
	color: lightgoldenrodyellow;
}

a{
	font-family: Monaco, 'Lucida Console', monospace;
}

.content {
	background-color: darkslategrey;
	padding: 2em;
	margin: 2em;
}

.title h1{
	background-color: lightcyan;
	color: darkslategrey;
	margin: 0 auto 1em;
	padding: .5em;
}

.intro,
.links {
	width: 800px;
	margin: .5em auto;
}

.intro p{
	background-color: rgb(1, 159, 159);
	color: lightcyan;
	padding: 1em .5em;
	text-align: center;
}

.links ul,
.links li,
.links a {
	background-color: teal;
}

.links ul {
	padding: 1em 1em;
}

.links a {
	color: darkorange;
	font-weight: bold;
}